#verifying {
    background-color: $primary-epc;
    .container {
        min-height: calc(100vh - 85px);
        .verifying-logo {
            width: 200px;
            max-width: 100%;
        }
        .verifying-text {
            font-family: $font-abril;
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: center;
            letter-spacing: 0.05em;
            color: $darker-blue;
        }
    }
}
